<div class="hero-section">
  <div class="album-cover">
    <div class="album-cover__group">
      <img
        [src]="album.imageUrl || '/placeholder.svg'"
        [alt]="album.title + ' by ' + (album | artistDisplay)"
        class="album-cover__image"
      />
    </div>
  </div>

  <div class="album-info">
    <div class="album-info__badge-group">
      <app-badge
        *ngIf="tertiaryColor$ | async as tertiaryColor"
        size="md"
        variant="custom"
        [customColor]="tertiaryColor"
      >
        <mat-icon icon>album</mat-icon>
        Album
      </app-badge>
      <app-badge
        *ngIf="darkColor$ | async as darkColor"
        size="md"
        variant="custom"
        [customColor]="darkColor"
      >
        <mat-icon icon>calendar_today</mat-icon>
        {{ album.sortableDate?.toString()?.substring(0, 4) }}
      </app-badge>
    </div>
    <div class="album-info__centered-info">
      <div class="album-info__title-container">
        <h1 class="album-info__title">
          <ng-container *ngIf="(album.title | formatTitle)?.includes(':'); else singleLineTitle">
            <span class="album-info__title--main">
              {{ (album.title | formatTitle).split(':')[0] }}:
            </span>
            <span class="album-info__title--sub">
              {{ (album.title | formatTitle).split(':')[1] }}
            </span>
          </ng-container>
          <ng-template #singleLineTitle>
            {{ album.title | formatTitle }}
          </ng-template>
        </h1>

        <p class="album-info__artist">{{ album | artistDisplay }}</p>
        <p class="album-info__description">"{{ album.description }}"</p>
      </div>

      <div class="streaming-links">
        <a
          *ngIf="album.spotifyId"
          class="streaming-button spotify"
          [href]="'https://open.spotify.com/album/' + album.spotifyId"
          target="_blank"
          ><img class="streaming-icon" src="assets/brands/spotify.svg" alt="Spotify"
        /></a>
        <a
          *ngIf="album.youtubeId"
          class="streaming-button youtube-music"
          [href]="'https://music.youtube.com/playlist?list=' + album.youtubeId"
          target="_blank"
          ><img class="streaming-icon" src="assets/brands/youtubemusic.svg" alt="YouTube Music"
        /></a>
        <a
          *ngIf="album.amazonMusicId"
          class="streaming-button amazon-music"
          [href]="'https://music.amazon.com/albums/' + album.amazonMusicId"
          target="_blank"
          ><img class="streaming-icon" src="assets/brands/amazonmusic.svg" alt="Amazon Music"
        /></a>
        <a
          *ngIf="album.youtubeId"
          class="streaming-button youtube"
          [href]="'https://www.youtube.com/playlist?list=' + album.youtubeId"
          target="_blank"
          ><img class="streaming-icon" src="assets/brands/youtube.svg" alt="YouTube"
        /></a>
        <a
          *ngIf="album.pandoraId"
          class="streaming-button pandora"
          [href]="'https://www.pandora.com/' + album.pandoraId"
          target="_blank"
          ><img class="streaming-icon" src="assets/brands/pandora.svg" alt="Pandora"
        /></a>
        <a
          *ngIf="album.appleMusicId"
          class="streaming-button apple-music"
          [href]="
            'https://geo.music.apple.com/us/album/_/' +
            album.appleMusicId +
            '?mt=1&app=music&ls=1&at=1000lHKX&ct=api_http&itscg=30200&itsct=odsl_m'
          "
          target="_blank"
          ><img class="streaming-icon" src="assets/brands/applemusic.svg" alt="Apple Music"
        /></a>
      </div>
    </div>
  </div>
</div>
