/* Global Stylesheet */

:root {
  --primary-black-color: #212529;

  /* --primary-color-base: rgba(13, 27, 42, 1);
  --primary-color-darker-1: rgba(10, 22, 34, 1);
  --primary-color-darker-2: rgba(8, 17, 26, 1);
  --primary-color-darker-3: rgba(5, 11, 17, 1);
  --primary-color-darker-4: rgba(3, 6, 9, 1);
  --primary-color-darker-5: rgba(0, 0, 0, 1);
  --primary-color-lighter-1: rgba(27, 48, 69, 1);
  --primary-color-lighter-2: rgba(40, 69, 96, 1);
  --primary-color-lighter-3: rgba(54, 90, 123, 1);
  --primary-color-lighter-4: rgba(68, 111, 150, 1);
  --primary-color-lighter-5: rgba(82, 132, 177, 1);
  --primary-color-lighter-6: rgba(106, 147, 191, 1);
  --primary-color-lighter-7: rgba(130, 162, 205, 1);
  --primary-color-lighter-8: rgba(154, 177, 219, 1);
  --primary-color-lighter-9: rgba(178, 192, 233, 1);
  --primary-color-lighter-10: rgba(203, 208, 247, 1);

  --complement-color-1: rgba(255, 247, 217, 1);
  --complement-color-2: rgba(255, 239, 189, 1);
  --complement-color-3: rgba(255, 230, 161, 1);
  --complement-color-4: rgba(255, 222, 133, 1);
  --complement-color-5: rgba(255, 213, 105, 1);
  --complement-color-6: rgba(255, 205, 77, 1);
  --complement-color-7: rgba(255, 196, 49, 1);
  --complement-color-8: rgba(255, 187, 21, 1);
  --complement-color-9: rgba(255, 170, 0, 1);
  --complement-color-10: rgba(235, 154, 0, 1);
  --complement-color-11: rgba(214, 138, 0, 1);
  --complement-color-12: rgba(194, 122, 0, 1);
  --complement-color-13: rgba(173, 106, 0, 1);
  --complement-color-14: rgba(153, 90, 0, 1);
  --complement-color-15: rgba(133, 74, 0, 1);

  --disabled-color-base: rgba(133, 116, 77, 1);
  --disabled-color-lighter-1: rgba(152, 136, 101, 1);
  --disabled-color-lighter-2: rgba(170, 155, 125, 1);
  --disabled-color-lighter-3: rgba(189, 175, 149, 1);
  --disabled-color-lighter-4: rgba(208, 194, 173, 1);
  --disabled-color-darker-1: rgba(114, 97, 53, 1);
  --disabled-color-darker-2: rgba(95, 78, 29, 1);

  --error-color-base: rgba(255, 64, 64, 1);
  --error-color-lighter-1: rgba(255, 92, 92, 1);
  --error-color-lighter-2: rgba(255, 120, 120, 1);
  --error-color-darker-1: rgba(215, 55, 55, 1);
  --error-color-darker-2: rgba(175, 46, 46, 1); */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
