
.home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color-base);
    min-height: 100vh;
    padding: 2rem 0rem;
    transition: background-color 1s ease-in-out;
}
