<div *ngIf="label != null; else variant" class="detail-item">
  <div class="detail-icon">
    <mat-icon>{{ icon }}</mat-icon>
  </div>
  <div class="detail-text">
    <span class="detail-label">{{ label }}:</span>
    <span class="detail-value">{{ value }}</span>
  </div>
</div>

<ng-template #variant>
  <div class="detail-item">
    <div class="detail-icon">
      <mat-icon>{{ icon }}</mat-icon>
    </div>
    <div class="detail-text">
      <span class="detail-value">{{ value }}</span>
    </div>
  </div>
</ng-template>
