<ng-container *ngIf="clickable; else spanTpl">
  <button
    type="button"
    [ngClass]="classes"
    [ngStyle]="customStyles"
    (click)="onClick($event)"
    [attr.aria-label]="ariaLabel"
  >
    <span class="badge__icon"><ng-content select="[icon]"></ng-content></span>
    <span class="badge__label"><ng-content></ng-content></span>
  </button>
</ng-container>

<ng-template #spanTpl>
  <span [ngClass]="classes" [ngStyle]="customStyles">
    <span class="badge__icon"><ng-content select="[icon]"></ng-content></span>
    <span class="badge__label"><ng-content></ng-content></span>
  </span>
</ng-template>
