<h1 class="admin-dashboard__heading">Admin Dashboard</h1>

<div class="admin-dashboard">
  <div class="admin-dashboard__form-container">
    <h2 class="admin-dashboard__title">Add Albums From Artist</h2>
    <form class="admin-dashboard__form" [formGroup]="formDiscography" (ngSubmit)="fetchArtistDiscography()">
      <div class="admin-dashboard__form-group">
        <label class="admin-dashboard__label" for="artistName">Artist Name</label>
        <input id="artistName" formControlName="artistName" placeholder="Enter artist name..."
          class="admin-dashboard__input">
        <div *ngIf="formDiscography.get('artistName')?.invalid && formDiscography.get('artistName')?.touched"
          class="admin-dashboard__error-message">
          <p>Artist name is required</p>
        </div>
      </div>
      <button type="submit" [disabled]="formDiscography.invalid" class="admin-dashboard__button">Submit</button>
    </form>
  </div>
</div>