/* admin-dashboard.component.scss */
@import "../../../styles.css";

.admin-dashboard-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color-base);
  padding: 1rem;
  position: relative;
}

.admin-dashboard-container .admin-dashboard__form-container {
  position: relative;
  border: 4px solid var(--complement-color-8);
  background-color: #F9F9F9;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 24rem;
}

/* Jazz silhouette picture in background */
.admin-dashboard__form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../assets/jazzband.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 1;
  opacity: 0.1;
}

/* Header for the form */
.admin-dashboard__form-container .mat-mdc-card-title {
  color: var(--primary-color-base);
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  text-align: center;
  z-index: 1;
  position: relative;
}

/* Subheading for the form */
.admin-portal__subheading {
  color: var(--complement-color-12);
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
  font-style: italic;
}

/* Container for textfield and button */
.admin-dashboard__form-container .mat-mdc-card-content {
  padding: 0;
}

.admin-dashboard__form-container .admin-dashboard__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 1;
  position: relative;
}

/*Container for text input */
.admin-dashboard__form .mat-mdc-form-field {
  width: 100%;
}
.admin-dashboard__form .mat-mdc-form-field .mat-mdc-form-field-flex{
    background-color: #F9F9F9;
}

/* Placeholder / text when focused */
.admin-dashboard__form .mat-mdc-form-field .mat-mdc-input-element {
  color: var(--primary-color-base) !important;
  padding-left: 0.5rem;
}

/* Placeholder / text when not focused*/
.admin-dashboard__form .mat-mdc-form-field-flex label mat-label{
    color: var(--primary-color-base);
}
/* Placeholder / asterisk when not focused*/
.admin-dashboard__form .mat-mdc-form-field-flex label .mat-mdc-form-field-required-marker{
    color: var(--primary-color-base);
}

/* Placeholder / text when focused and it floats to top */
.admin-dashboard__form .mat-mdc-form-field-flex .mdc-floating-label--float-above mat-label{
    color: var(--primary-color-base);
}

/* Placeholder / asterisk when focused and it floats to top */
.admin-dashboard__form .mat-mdc-form-field-flex .mdc-floating-label--float-above .mat-mdc-form-field-required-marker{
    color: var(--primary-color-base);
}

/* Wrapper for the validation text */
.admin-dashboard__form .mat-mdc-form-field .mat-mdc-form-field-error-wrapper {
  padding: 0;
}

/* Validation text */
.admin-dashboard__form .mat-mdc-form-field .mat-mdc-form-field-error {
  color: var(--error-color-base);
  font-size: 0.7rem;
  font-weight: 500;
}

/* Button when enabled */
.admin-dashboard__form button[mat-raised-button] {
  width: 100%;
  background-color: var(--complement-color-4);
  font-weight: 500;
}

/* Button when enabled and hovered */
.admin-dashboard__form button[mat-raised-button]:hover {
  background-color: var(--complement-color-8);
}

/* Button disabled */
.admin-dashboard__form button[mat-raised-button]:disabled{
    background-color: var(--disabled-color-base); /* Use disabled base color */
    color: var(--primary-color-base);
}

/* Copyright container */
.admin-dashboard__form-container .copyright {
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid var(--primary-color-base);
  color: var(--primary-color-base);
  font-size: 0.75rem;
  text-align: center;
  z-index: 1;
  position: relative;
}
