.album-details__container {
  background-color: #f9f9f9;
  max-height: 90vh;
  padding: 16px;
  margin: 0 auto;
  position: relative;
  max-width: 800px;
  border: 6px solid var(--dark-color-base);
  border-radius: 0.75rem;
}

.album-card {
  width: 100%;
  position: relative;
}

.top-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 16px;
  margin-right: 16px;
}

.album-cover {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow:
    8px 8px 10px rgba(13, 27, 42, 0.3),
    -8px -8px 15px rgba(13, 27, 42, 0.3);
}

.mid-container {
  display: flex;
  justify-content: center;
}

.streaming-links-container {
  display: flex;
  justify-content: flex-start;
}

.streaming-link {
  width: 1.75rem;
  height: 1.75rem;
}

.spotify-link-container,
.youtube-music-link-container,
.youtube-link-container,
.pandora-link-container,
.apple-music-link-container,
.amazon-music-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.spotify-link-container:hover {
  background-color: #1ed760;
}

.youtube-music-link-container:hover {
  background-color: #ff0000;
}

.amazon-music-link-container:hover {
  background-color: #46c3d0;
}

.youtube-link-container:hover {
  background-color: #ff0000;
}

.pandora-link-container:hover {
  background-color: #6289ff;
}

.apple-music-link-container:hover {
  background-color: #fa243c;
}

.album-title__header {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 4px;
}

.album-artist__header {
  font-size: 18px;
}

.album-year__header {
  font-size: 14px;
  margin-top: 0.25rem;
  margin-left: 0.15rem;
  font-style: italic;
}

.album-description {
  font-size: 0.75rem;
  line-height: 1.15rem;
  margin-bottom: 16px;
}

.popularity-section {
  margin-top: auto;
}

.popularity-label {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.progress-bar-container {
  width: 100%;
  border: 0.5px solid black;
  border-radius: 5px;
}

.progress-bar-red {
  background-color: rgb(182, 0, 0);
}

.progress-bar-orange {
  background-color: rgb(225, 105, 0);
}

.progress-bar-yellow {
  background-color: rgb(255, 187, 21);
}

.progress-bar-yellowgreen {
  background-color: #94d60f;
}

.progress-bar-green {
  background-color: green;
}

.popularity-label span {
  font-weight: 500;
}
.popularity-label mat-icon {
  margin-right: 8px;
}

.divider {
  margin-bottom: 12px;
  color: lightgray;
}

.additional-details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  height: 100%;
}

.additional-details__left {
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgray;
  margin-right: 10px;
}

.additional-details__right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.section-title {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 0px;
}

.detail-items-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions-container {
  display: flex;
  margin-top: auto;
}

.copyright {
  margin-top: 24px;
  padding-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  font-size: 12px;
}

.artist-info-box {
  border: 2px solid var(--dark-color-base);
  border-radius: 8px;
  padding: 18px;
  position: relative;
  overflow: hidden;
}

.artist-header {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--dark-color-base);
  color: white;
  padding: 4px 8px;
  font-size: 12px;
}

.artist-content {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.artist-image-container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
  flex-shrink: 0;
}

.artist-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artist-details {
  flex-grow: 1;
}

.artist-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 0px;
}

.artist-popularity {
  display: flex;
  align-items: center;
}

.artist-popularity mat-icon {
  margin-right: 4px;
  color: black;
}

.artist-popularity-score {
  font-size: 12px;
  margin-left: 4px;
}

.artist-bio {
  font-size: 12px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 2px;
  margin-bottom: 0px;
}

.view-profile-button {
  font-size: 14px;
  padding: 5px 8px;
  margin-top: 0px;
  margin-left: auto;
  height: 28px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-profile-button__icon {
  margin-left: 4px;
  font-size: 16px;
}

@media (min-width: 768px) {
  .top-container {
    flex-direction: row;
  }
  .album-cover-container {
    width: 60%;
  }
  .album-info-container {
    width: 40%;
  }
}
