<div *ngIf="loading$ | async">Loading...</div>
<div *ngIf="error$ | async">ERROR LOADING ALBUM</div>
<mat-card class="album-details__container" *ngIf="album$ | async as album">
  <mat-card-content class="album-content">
    <div class="hero-section">
      <div class="album-cover-container">
        <img [src]="album.imageUrl || '/placeholder.svg'" [alt]="album.title + ' by ' + getArtistString(album.artists)"
          class="album-cover" />
      </div>

      <div class="album-info-container">
        <div class="album-info">
          <div *ngIf="!album.title.includes(':'); else albumTitleElseBlock">
            <mat-card-title class="album-title">{{ album.title }}</mat-card-title>
          </div>

          <ng-template #albumTitleElseBlock>
            <mat-card-title class="album-title">{{ splitAlbumTitle(album.title)[0] + ":" }}</mat-card-title>
            <mat-card-title class="album-title">{{ splitAlbumTitle(album.title)[1] }}</mat-card-title>
          </ng-template>
          <mat-card-subtitle class="album-artist">{{ getArtistString(album.artists) }}</mat-card-subtitle>

          <p class="album-description">{{ album.description }}</p>

          <div class="album-details-grid">
            <app-item-detail icon="calendar_today" label="Released"
              [value]="album.releaseYear.toString()"></app-item-detail>
            <app-item-detail icon="queue_music" label="Tracks" [value]="album.totalTracks.toString()"></app-item-detail>
            <app-item-detail icon="local_offer" label="Genre" [value]="album.genre.name"></app-item-detail>
            <app-item-detail icon="local_offer" label="Subgenres"
              [value]="getSubgenreString(album.subgenres)"></app-item-detail>
          </div>

          <div class="popularity-section">
            <div class="popularity-label">
              <mat-icon>bar_chart</mat-icon>
              <span>Popularity Percentile: {{ getPercentileString(album.percentileScore) }}</span>
            </div>
            <div class="progress-bar-container">
              <div [class]="getProgressBarColor(album.percentileScore)"
                [ngStyle]="{'width': album.percentileScore + '%'}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <mat-divider class="divider"></mat-divider>

    <div class="additional-details-grid">
      <div class="additional-details__left">
        <h3 class="section-title">Album Details</h3>

        <div class="detail-items-container">
          <app-item-detail icon="favorite" label="Mood" [value]="getMoodString(album.moods)"></app-item-detail>
          <app-item-detail icon="music_note" label="Theme" [value]="album.theme"></app-item-detail>
          <app-item-detail icon="album" label="Label" [value]="album.label"></app-item-detail>
          <app-item-detail icon="trending_up" label="Popular Songs"
            [value]="album.popularTracks.join(', ')"></app-item-detail>
        </div>

      </div>
      <div class="additional-details__right">

        <div class="artist-info-box" *ngIf="album.artists && album.artists.length > 0">
          <div class="artist-header">
            <div class="artist-label">Artist</div>
          </div>
          <div class="artist-content">
            <div class="artist-image-container">
              <img [src]="album.artists[0].imageUrl || '/placeholder.svg'" [alt]="album.artists[0].name"
                class="artist-image">
            </div>
            <div class="artist-details">
              <h4 class="artist-name">{{ album.artists[0].name }}</h4>
              <div class="artist-popularity">
                <mat-icon>bar_chart</mat-icon>
                <div class="progress-bar-container">
                  <div [class]="getProgressBarColor(album.artists[0].percentileScore)"
                    [ngStyle]="{'width': album.artists[0].percentileScore + '%'}"></div>
                </div>
                <span class="artist-popularity-score">{{ album.artists[0].percentileScore }}%</span>
              </div>
              <p class="artist-bio">{{ album.artists[0].biography }}</p>
            </div>
          </div>
          <button mat-stroked-button class="view-profile-button">
            View Artist Profile
            <span class="view-profile-button__icon material-icons">
              subdirectory_arrow_right
            </span>
          </button>
        </div>

        <div class="actions-container">
          <button mat-raised-button color="accent">Add to Collection</button>
          <button mat-stroked-button>Share Album</button>
        </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>